<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<script>
  if($('#flash_alert').length == 0) {
    setTimeout(function() {
        window.close();
    }, 50);
  }
</script>
