<h3>Well that didn't work!</h3>
<p>Be sure to login with your Gawker work email address (e.g., you@gawker.com, you@jezebel.com, you@deadspin.com, you@lifehacker.com, etc.).</p>
<p><%= link_to 'Try again', signin_path %></p>
